.full-screen{
    min-height: 100vh;
}
.half-screeb{
    min-height: 50vh;
}


.space{
    padding-top: 10%!important;
    padding-bottom: 10%!important;
}
.space-xs{
    padding-top: 2%!important;
    padding-bottom: 2%!important;
}

.bg-color-transparent{
    background-color: transparent!important;
}
.bg-color-0{
    background-color: #ffffff;
}
.bg-color-1{
    background-color: #efefef;
}
.bg-color-2{
    background-color:#2e3d54;
}
.bg-color-3{
    background-color: #fa861d;
}
/* .detail{
    width: 1000px;
    height: 100%;
} */

.image{
    width: 800px;
   padding-left: 85px;
}

.deskripsi{
    float: right;
    right: 790px;
    padding-top: 50px;
    
}

.deskripsi1{
    padding-left: 85px;
    padding-top: 20px;
}